# Ignore everything
*

# Except the notebooks
!Algo_Project_OCC8_Survivors.ipynb
!Part2_Double_Agent_Registry.ipynb
!Part7_Phantom_Dice.ipynb

# Except the Datasets folder and its contents
!Datasets/
!Datasets/**

# Keep .gitignore itself tracked
!.gitignore